.hotel-booking {
  background-color: #ffedd8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hotel-booking .div {
  background-color: #ffedd8;
  overflow: hidden;
  width: 1512px;
  height: 6089px;
  position: relative;
}

.hotel-booking .frame {
  display: inline-flex;
  align-items: center;
  gap: 294px;
  position: absolute;
  top: 80px;
  left: 80px;
}

.hotel-booking .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #583101;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .navbar {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #583101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #583101;
}

.hotel-booking .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #eff5ed;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .overlap {
  position: absolute;
  width: 1512px;
  height: 900px;
  top: 180px;
  left: 0;
}

.hotel-booking .image {
  position: absolute;
  width: 1512px;
  height: 820px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hotel-booking .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  position: absolute;
  top: 211px;
  left: 360px;
}

.hotel-booking .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #ffedd8;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .p {
  position: relative;
  width: 939px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  color: #f4ecec;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: #ffedd8;
}

.hotel-booking .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffedd8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.hotel-booking .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 29px 88px;
  position: absolute;
  top: 740px;
  left: 156px;

  background-color: #583101;
}

.hotel-booking .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 72px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 72px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-7 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-7 {
  font-weight: 400;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  color: #ffedd8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-8 {
  align-items: center;
  gap: 64px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffedd8;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  top: 2033px;
  left: 80px;
}

.hotel-booking .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 347px;
  padding: 24px 0px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-12 {
  align-items: center;
  justify-content: center;
  gap: 24px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #583101;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-13 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .line {
  position: relative;
  width: 111px;
  height: 1px;
  object-fit: cover;
}

.hotel-booking .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #583101;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-11 {
  width: 520px;
  margin-top: -1px;
  font-weight: 400;
  position: relative;
  font-family: "Poppins", Helvetica;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .group {
  position: relative;
  width: 1359px;
  height: 904px;
  margin-right: -10px;
}

.hotel-booking .overlap-group {
  position: absolute;
  width: 899px;
  height: 608px;
  top: 0;
  left: 450px;
  background-image: url(./img/image-113.png);
  background-size: cover;
  background-position: 50% 50%;
}

.hotel-booking .frame-14 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.hotel-booking .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #583101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-13 {
  position: absolute;
  top: 549px;
  left: 16px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .overlap-2 {
  position: absolute;
  width: 434px;
  height: 608px;
  top: 0;
  left: 0;
  background-image: url(./img/image-118.png);
  background-size: cover;
  background-position: 50% 50%;
}

.hotel-booking .overlap-3 {
  position: absolute;
  width: 418px;
  height: 280px;
  top: 624px;
  left: 928px;
  background-image: url(./img/image-120.png);
  background-size: cover;
  background-position: 50% 50%;
}

.hotel-booking .text-wrapper-14 {
  position: absolute;
  top: 221px;
  left: 16px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .overlap-4 {
  position: absolute;
  width: 462px;
  height: 280px;
  top: 624px;
  left: 450px;
  background-image: url(./img/image-119.png);
  background-size: cover;
  background-position: 50% 50%;
}

.hotel-booking .overlap-5 {
  position: absolute;
  width: 434px;
  height: 280px;
  top: 624px;
  left: 0;
  background-image: url(./img/image-121.png);
  background-size: cover;
  background-position: 50% 50%;
}

.hotel-booking .group-2 {
  position: absolute;
  width: 1512px;
  height: 304px;
  top: 5785px;
  left: 0;
  background-color: #583101;
}

.hotel-booking .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 40px;
  left: 80px;
}

.hotel-booking .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffedd8;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-16 {
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffedd8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-17 {
  display: inline-flex;
  align-items: flex-start;
  gap: 120px;
  position: absolute;
  top: 40px;
  left: 885px;
}

.hotel-booking .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffedd8;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffedd8;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-19 {
  display: inline-flex;
  align-items: center;
  gap: 120px;
  position: absolute;
  top: 1200px;
  left: 80px;
}

.hotel-booking .frame-20 {
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-19 {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #121619;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-20 {
  width: 554px;
  font-weight: 400;
  position: relative;
  font-family: "Poppins", Helvetica;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-21 {
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  background-color: #583101;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .overlap-group-wrapper {
  position: relative;
  width: 684px;
  height: 713.04px;
}

.hotel-booking .overlap-group-2 {
  position: relative;
  height: 713px;
}

.hotel-booking .image-2 {
  position: absolute;
  width: 474px;
  height: 685px;
  top: 0;
  left: 210px;
  object-fit: cover;
}

.hotel-booking .image-3 {
  position: absolute;
  width: 376px;
  height: 487px;
  top: 226px;
  left: 0;
  object-fit: cover;
}

.hotel-booking .frame-22 {
  display: inline-flex;
  align-items: center;
  gap: 120px;
  position: absolute;
  top: 3241px;
  left: 83px;
}

.hotel-booking .image-4 {
  position: relative;
  width: 681px;
  height: 672px;
  object-fit: cover;
}

.hotel-booking .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #121619;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-22 {
  width: 502px;
  font-weight: 400;
  position: relative;
  font-family: "Poppins", Helvetica;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-23 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-25 {
  display: inline-flex;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-24 {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-25 {
  position: relative;
  width: 247px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #121619;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .line-2 {
  position: relative;
  width: 1px;
  height: 200px;
  object-fit: cover;
}

.hotel-booking .frame-26 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 4033px;
  left: 80px;
}

.hotel-booking .frame-27 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 0px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-26 {
  position: relative;
  width: 934px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .frame-28 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-29 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-30 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #121619;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .line-3 {
  position: relative;
  width: 222px;
  height: 2px;
}

.hotel-booking .frame-31 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .image-5 {
  position: relative;
  width: 439px;
  height: 608px;
  object-fit: cover;
}

.hotel-booking .overlap-6 {
  position: absolute;
  width: 1349px;
  height: 577px;
  top: 5088px;
  left: 83px;
}

.hotel-booking .frame-32 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 1237px;
}

.hotel-booking .group-3 {
  position: relative;
  width: 48px;
  height: 48px;
}

.hotel-booking .overlap-group-3 {
  position: relative;
  height: 48px;
  border-radius: 24px;
}

.hotel-booking .north {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
}

.hotel-booking .ellipse {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 24px;
  border: 1px solid;
  border-color: #583101;
}

.hotel-booking .north-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #583101;
  border-radius: 24px;
}

.hotel-booking .group-4 {
  position: absolute;
  width: 1243px;
  height: 561px;
  top: 16px;
  left: 0;
}

.hotel-booking .frame-33 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.hotel-booking .frame-34 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 241px;
  left: 103px;
}

.hotel-booking .frame-35 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .frame-36 {
  display: inline-flex;
  align-items: center;
  gap: 321px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-28 {
  width: 795px;
  margin-top: -1px;
  font-weight: 500;
  position: relative;
  font-family: "Poppins", Helvetica;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .line-4 {
  position: relative;
  width: 1140px;
  height: 1px;
  object-fit: cover;
}

.hotel-booking .frame-37 {
  display: inline-flex;
  align-items: center;
  gap: 483px;
  position: relative;
  flex: 0 0 auto;
}

.hotel-booking .text-wrapper-29 {
  width: 633px;
  margin-top: -1px;
  font-weight: 500;
  position: relative;
  font-family: "Poppins", Helvetica;
  color: #121619;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hotel-booking .text-wrapper-30 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #583101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
